header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightskyblue;
    background-color: black;
    height: 150px;

}
#logo{
    position: relative;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    height: 0px;
}
#slogan{
    position: relative;
    bottom: 5px;
    font-size: 20px;
    height: 0px;
    margin-left: 20px;
    font-style: normal;
}

.boxes{
    display:inline-block;
    vertical-align: middle;
}

.box{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    font-size: 30px;
    background-color: lightseagreen;
    color: deeppink;
    text-shadow: 2px 2px black;
    height: 300px;
    width: 300px;
    text-align: center;
    float:left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-image: linear-gradient(lightskyblue, deeppink);
    
    align-self: center;
}

#pay{
    position:relative;
    right: 40px;
}
#payment{
    position: relative;
    right: 0px;
    left: 50px;
    bottom: 65px;
}
#debt{
    position: relative;
    right: 100px;
    bottom: 150px;
    float: right;
    display: none;
}
#GIGABOX{
    width: 950px;
    margin-top: 20px;
    position: relative;

}
#GIGABOXtitle{
    width: 200px;
    font-size: larger;

}

button{
    float:left;
    width: 90px;
    height: 40px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: lightyellow;
    color: black;
}
#work-button{
    position: relative;
    bottom: 36px;
    right: 30px;
    float: right;
    margin-right: 0;
    margin-top: 0;
}

#bank-button{
    position: relative;
    bottom: 36px;
    left: 30px;
    margin-left: 0;
    margin-top: 0;
}

#loan-button{
    position: relative;
    top: 0px;
    right: 0px;
    left: 30px;
    margin-left: 0;
    margin-top: 0;
}
#repay-button{
    position: relative;
    left: 88px;
    top: 0px;
    float: right;
    margin-right: 0;
    margin-left: 0;
    display: none;
}

.balance-class{
    position: relative;
    float: left;
    margin-left: 5px;
}
#balance-label{
    margin-left: 75px;
}

#buy-button{
    position: absolute;
    left: 820px;
    bottom: 8px;
}

.kompspecs{
    position: absolute;
    float: left;
    margin-left: 20px;
}
#description{
    font-size: 70%;
    bottom: 75%;
    left: 30%;
}

#price{
    left: 85%;
    top: 60%;
}
#specs{
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: blue;
    text-shadow: none;
    font-size: small;
    left: 40%;
    top:15%;
    margin-left:0px ;
}
#stock{
    position: absolute;
    left: 68%;
    top: 75%;
}
#kompimg{
    position: absolute;
    width: 150px;
    height: 150px;
    object-fit: fill;
    right:700px;

}